<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.watchapp</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/osascript</string>
        <string>/Users/jmartinez/daylightsavings.js</string>
    </array>
    <key>StartInterval</key>
    <integer>21600</integer> <!-- 6 hours in seconds -->
    <key>StandardOutPath</key>
    <string>/tmp/com.user.watchapp.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.user.watchapp.err</string>
</dict>
</plist>
